/.idea/
/cmake-build-debug/
/cmake-build-debug-llvm/
.DS_Store
./venv/
/tools/
./tools/*
./tools/__init__.py
./tools/plot.py
./tools/utils.py
./plots/
./stats/
/stats/



CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

/plots/data/_baco/
/plots/data/_cbaco-d/
/plots/data/_cbaco-i/
/plots/data/_ga/
/plots/data/_vns/
/plots/data/cbma_dif_sel/
/plots/data/cbma_vs_bma/
/plots/data/E-n22-k4/
/plots/data/E-n23-k3/
/plots/data/E-n30-k3/
/plots/data/E-n33-k4/
/plots/data/E-n51-k5/
/plots/data/E-n76-k7/
/plots/data/E-n101-k8/
/plots/data/X-n143-k7/
/plots/data/X-n214-k11/
/plots/data/X-n351-k40/
/plots/data/X-n459-k26/
/plots/data/X-n573-k30/
/plots/data/X-n685-k75/
/plots/data/X-n749-k98/
/plots/data/X-n819-k171/
/plots/data/X-n916-k207/
/plots/data/X-n1001-k43/
